.formWrapper {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.formSelect {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.15rem;
}

.formActions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

